.site-header {
  max-width: 100%;
  padding-bottom: 600px;
  background-image: url("../../img/heade-bg.jpg");
  background-repeat: no-repeat ;
  background-size: cover;
}

.site-header__header-wraper {
  display: flex;
  align-items: center;
}